<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Final Report</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

<div th:replace="base1 :: navlinkss"></div>

<p>Thank you for join us, your process has been completed!.</p>
<p>Use the bar above to modify any previous entries.</p>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-14 col-md-18 mx-auto">

            <div class="post-heading">
                <span class="meta"><strong>Personal Information</strong></span>
            </div>

            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Last Name</th>
                </tr>
                <tr th:each="Resume : ${listofcostumer}">

                    <td th:text="${Resume.name}"></td>
                    <td th:text="${Resume.email}"></td>
                    <td th:text="${Resume.lastname}"></td>

                </tr>
            </table>


            <div class="post-heading">
                <span class="meta"><strong>Educational Background</strong></span>
            </div>


            <table class="table table-striped">
                <tr>
                    <th>Institution</th>
                    <th>Major</th>
                    <th>Years</th>
                    <th>Completed</th>
                    <th>Degree</th>
                </tr>
                <tr th:each="Educational : ${listofeduc}">

                    <td th:text="${Educational.inst}"></td>
                    <td th:text="${Educational.major}"></td>
                    <td th:text="${Educational.years}"></td>
                    <td th:text="${Educational.completed}"></td>
                    <td th:text="${Educational.degree}"></td>


                </tr>
            </table>

            <div class="post-heading">
                <span class="meta"><strong>Work Expirience</strong></span>
            </div>

            <table class="table table-striped">
                <tr>
                    <th>Company</th>
                    <th>Job Title</th>
                    <th>Supervisor</th>
                    <th>Telephone</th>
                    <th>Duties</th>
                </tr>
                <tr th:each="Work : ${listofwork}">

                    <td th:text="${Work.company}"></td>
                    <td th:text="${Work.job}"></td>
                    <td th:text="${Work.sup}"></td>
                    <td th:text="${Work.tel}"></td>
                    <td th:text="${Work.duties}"></td>

                </tr>
            </table>


            <div class="post-heading">
                <span class="meta"><strong>Skills</strong></span>
            </div>

            <table class="table table-striped">
                <tr>
                    <th>Skills</th>

                </tr>
                <tr th:each="Skill : ${listofskiller}">

                    <td th:text="${Skill.ski}"></td>

                </tr>
            </table>
        </div>
    </div>
</div>

<hr>



<div th:replace="base1 :: footer"></div>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="js/clean-blog.min.js"></script>


</body>
</html>